@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-size: 1.6rem;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0
}

.main-grid {
    display: grid;
    height: 100%;
    grid-template-columns: 300px 3fr;
}

.right-side {
    grid-column: 2 / span 1;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.dashboard {
    background-color: aqua;
    grid-column: 1 / span 1;
    display: grid;
    align-content: start;
    gap: 20px;
}

.header {
    background-color: red;
}

.main {
    background-color: green;
}